/* Acts as the window mask */
.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Hides the screen waiting on the side */
  position: relative;
}

/* Holds both screens side-by-side */
.slider-container {
  display: flex;
  width: 200vw; /* 100vw per screen * 2 screens */
  height: 100vh;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth slide curve */
}

/* Individual screens take up exactly one viewport width */
.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Active target positioning classes, look up more what this does*/
.slide-to-screen-1 {
  transform: translateX(0);
}
.slide-to-screen-2 {
  transform: translateX(-100vw); /* Shifts the container left, exposing Screen 2 */
}

/* Dark mode-screen */
.screen-1 {
  background-color: rgb(30 , 30 ,30);
}
/* light mode-screen */
.screen-2 {
  background-color: white;
}

/* creates top container ratio was 100px 500px 500px*/
.header-section {
  height: 10vh;
}

/* Moon Icon Styling */
.purplemoon-icon,
.whitemoon-icon {
  padding-left: 10px;
  cursor: pointer;
  transition: width 0.25s;
  width: 90px;
}

/* enlarges moons when you hover */
.purplemoon-icon:hover,
.whitemoon-icon:hover {
  width: 100px;
}


/* title-section and start-section container */
.title-section,
.start-section {
  height: 50vh;

  display: flex;
  align-items: start;
  justify-content: center;
}

/* Squiggly-line img styling and positioning */
.title-container {
  background-image: url(Icons/squiggly\ line.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 75vw;
  height: 400px;
  max-height: 480px;
  margin-top: 25px;
  min-width: 800px;
  max-width: 1800px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Textbox styling and sizing */
.title-text,
.title-text2 {
  padding-top: 66px;
  padding-bottom: 66px;
  width: 70vw;
  min-width: 750px;
  max-width: 1700px;
  height: 200px;
  z-index: 100;

  text-align: center;
  letter-spacing: 2px;
  font-size: 150px;
  
  border: 4px solid rgb(199, 163, 243);
  border-radius: 10px;
}

/* Dark-mode textbox color */
.title-text {
  background-color: rgb(30 , 30 ,30);
}
/* light-mode textbox color */
.title-text2 {
  background-color: white;
  color:rgb(199, 163, 243);
}

/* Makes "O" relative for smiley-img */
.title-section span,
.title-section2 span {
  cursor: pointer;
  position: relative;
}

/* Surprise face positioning, styling, and animation prep */
#surprise-img,
#surprise-img2 {
  position: absolute;
  z-index: 200;
  left: -20px;
  top: 30px;

  width: 150px;
  
  opacity: 0;
  transform: scale(0);

  pointer-events: none;

  transition: transform 0.5s ease,
  opacity 0.5s ease;
}

/* styling for when surprise face shows */
#surprise-img.show,
#surprise-img2.show {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 1271px) {
  .title-container {
    height: 320px;
  }
  
  .title-text,
  .title-text2 {
    font-size: 125px;
    padding-bottom: 10px;
  }

  #surprise-img,
  #surprise-img2 {
  width: 120px;
  left: -15px;
  } 
}

/* Star-section container */
.start-section {
  position: relative;
}

.start-middle,
.start-right,
.start-left {
  flex: 1;
  height: 575px;
}

/* positions welcome-button */
.start-middle {
  padding-top: 50px;

  display: flex;
  align-items: start;
  justify-content: center;
}

/* welcome-button styling */
.welcome-button {
  background-color: rgb(199,163,243);
  font-weight: 1000px;
  color: white;
  font-family: 'rowdies';
  font-size: 50px;
  letter-spacing: 2px;

  width: 350px;
  height: 150px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  transition: width 0.25s, height 0.25s, 
    box-shadow 0.25s;
}

.welcome-button:hover {
  width: 355px;
  height: 155px;
  box-shadow: 3px 5px 10px rgba(134, 134, 134, 0.25);
}

.start-right {
  position: relative;
}

.paw-prints {
  position:absolute;
  width: 450px;
  bottom: 0px;
  right: 120px;
}

.start-cat { 
  position:absolute;
  width: 200px;
  bottom: 290px;
  right:  0px;
  cursor: pointer;
}


